{% include 'admin/headboard.html' %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            
            <div class="card">
                <div class="card-header">
                    Books Details 
                </div>
                <div class="card-body">
                    <form action="/admin/books/save" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                        <div class="mb-3">
                          <label for="txtName" class="form-label">Name:</label>
                          <input type="text" class="form-control" name="txtName" id="txtName" aria-describedby="helpId" placeholder="Write name of the book">
                        </div>

                        <div class="mb-3">
                            <label for="txtImage" class="form-label">Imagen:</label>
                            <input type="file" class="btn" name="txtImage" id="txtImage" aria-describedby="helpId" placeholder="Select Image">
                          </div>

                        <div class="mb-3">
                            <label for="txtURL" class="form-label">URL Dowloand:</label>
                            <input type="text" class="form-control" name="txtURL" id="txtURL" aria-describedby="helpId" placeholder="Write URL">
                        </div>

                        <button type="submit" class="btn btn-primary">Add</button>
                        

                    </form>
  

                </div>
                <div class="card-footer text-muted">

                </div>
            </div>

        </div>

        <div class="col-md-7">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>URL</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                        <tr class="">
                            <td scope="row">{{ book[0] }}</td>
                            <td>{{ book[1] }}</td>
                            <td><img width="60" src="/img/{{ book[2] }}" class="img-fluid rounded-top" alt="">
                            </td>
                            <th>
    
                                <a name="" id="" class="btn btn-success" href="{{ book[3] }}" role="button">URL...</a>

                            </th>
                            <th>
                                <form action="/admin/books/delete" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                                    <input value="{{ book[0] }}" type="hidden" name="txtID" id="txtID">
                                    <button type="submit" class="btn btn-danger">Delete</button>

                                </form>
                            </th>
                        </tr>
                        <td"></td>
                       
                        {% endfor%}

                    </tbody>
                </table>
            </div>
            
            
        </div>
        
    </div>
</div>



{% include 'admin/foot.html' %}