{% include 'site/headboard.html' %}


    <div class="row">

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://www.alfaomega.com.mx/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/b/a/base_25_93.png" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Python</h4>
                    <p class="card-text">

                        <a name="" id="" class="btn btn-primary" href="http://python.org/descarga.pdf" role="button">Dowloand</a>

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://www.alfaomega.com.mx/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/b/a/base_25_93.png" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Python</h4>
                    <p class="card-text">

                        <a name="" id="" class="btn btn-primary" href="http://python.org/descarga.pdf" role="button">Dowloand</a>

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://www.alfaomega.com.mx/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/b/a/base_25_93.png" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Python</h4>
                    <p class="card-text">

                        <a name="" id="" class="btn btn-primary" href="http://python.org/descarga.pdf" role="button">Dowloand</a>

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://www.alfaomega.com.mx/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/b/a/base_25_93.png" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Python</h4>
                    <p class="card-text">

                        <a name="" id="" class="btn btn-primary" href="http://python.org/descarga.pdf" role="button">Dowloand</a>

                    </p>
                </div>
            </div>
        </div>

        
        
    </div>

{% include 'site/foot.html' %}