{% include 'site/headboard.html' %}

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4">Welcome to "The Developer's Library"!</h1>
    <p class="lead">Explore a vast collection of carefully curated e-books designed to fuel your programming journey. Whether you're a beginner eager to learn the fundamentals or an experienced developer seeking advanced knowledge, we have the resources to support your growth.</p>
    <a class="btn btn-primary btn-lg" href="/books" role="button">Browse Books</a>
  </div>
</section>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Expand Your Expertise</h2>
      <p>Dive into our comprehensive selection of books, covering a wide range of programming languages, frameworks, and cutting-edge technologies. Stay ahead of the curve and elevate your skills with the latest industry insights and best practices.</p>
    </div>

    <div class="col-md-6">
      <img src= "img/Index1.jpg" alt="Expand Your Expertise" class="img-fluid">
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <img src= "img/Index2.jpg" alt="Community" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h2>Join a Thriving Community</h2>
      <p>Connect with like-minded developers, share your experiences, and gain valuable insights from our vibrant community. Collaborate on projects, participate in discussions, and enhance your learning journey through the power of community engagement.</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <h2>Stay Updated</h2>
      <p>Keep pace with the ever-evolving programming landscape by accessing our regularly updated library. We strive to provide you with the latest industry trends, emerging technologies, and in-depth resources to ensure you stay at the forefront of your field.</p>
    </div>
    <div class="col-md-6">
      <img src="img/Index3.jpg" alt="Stay Updated" class="img-fluid">
    </div>
  </div>
</div>

{% include 'site/foot.html' %}