{% include 'site/headboard.html' %}

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div
                class="h-100 p-5 text-white bg-primary border rounded-3">
                <h2>Welcome</h2>
                <p>The best place to download the book you need</p>
                <p>
                <a class="btn btn-success btn-lg" href="/books" role="button">See Available Books</a>
                </p>
            </div>
        </div>
    </div>
    
{% include 'site/foot.html' %}