{% include 'site/headboard.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">About Me</h4>
                    <p class="card-text">
                        I'm Martin Vega Bollmann, an enthusiastic software developer and knowledge lover. At The Developer's Library, I have created a platform to bring you a comprehensive library of resources and eBooks, with the goal of helping you grow professionally.
                    </p>
                    <p class="card-text">
                        My mission is to provide access to developers of all levels to quality materials that inspire and enhance their skills. Each book available in The Developer's Library has been carefully selected to provide you with relevant and practical content designed to help you achieve your professional goals.
                    </p>
                    <p class="card-text">
                        My goal is to be a reliable and valuable resource for your development - explore the library, discover new knowledge, and take your skills to the next level with The Developer's Library!
                    </p>
                    <br>
                    <p class="text-right">Martin Vega Bollmann</p>
                    <p class="text-right">Founder of The Developer's Library</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'site/foot.html' %}